*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.accueil {
    background: url(https://upload.wikimedia.org/wikipedia/commons/3/31/Encapsulation_of_DNA.jpg);
}

.presentation-exercice {
    background: url(https://upload.wikimedia.org/wikipedia/commons/c/c6/Blackboard.png);
}

.accueil, .presentation-exercice {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}